
.btn {
    width: 100%;
    padding: 9px 20px;
    background: #05264e;
    color: #ffffff;
    border-radius: 4px;
  }
  .btn:hover{
      background-color: #1a3d68;
      color: #ffffff;
      transition: 0.2s
  }
  .form-control{
    padding: 9px 15px;
  }
label{
    font-size: 15px;
    font-weight: 500;
}
h2{
    margin: 0%;
    color: #05264e;
}